*.py[cod]
*.swp
*.tmpl
*.swo
*~
static/media/cache/
static/media/moths_bak
static/media/lucidkey
static/media/csv_admin
static/media/plates
static/media/zoomify
static/media/cms_page_media
static/production
static/cookies.py
static/cookies.txt
static/dl.sh
static/mapGen.pl
app/species/fixtures
app/FusionUpdate.py
app/db.py
app/fusionKey.p12
app/indexden
app/settings.py
